.PokemonDetails {
  background-color: white;
  height: 100%;
  margin: auto 20%;
  padding: 1em;

  .PokemonDetails__Title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2em;

    span {
      color: grey;
    }
  }

  .PokemonDetails__Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    .PokemonDetails__Sprite {
      background-color: #f2f2f2;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .PokemonDetails__Infos {
      .PokemonDetails__Types {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .PokemonDetails__Types--title {
          margin-bottom: 0.5em;
          font-weight: 600;
        }

        span {
          text-transform: capitalize;
        }
      }

      .PokemonDetails__StatsTitle {
        display: flex;
        align-items: flex-start;
        font-weight: 600;
        margin: 0.5em 0;
      }
      
      .PokemonDetails__Stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 0.25em;

        .PokemonDetails__Stat {
          display: flex;
          align-items: center;
          
          span {
            margin-left: auto;
          }
        }
      }

      .PokemonDetails__Abilities {
        margin-top: 0.5em;

        .PokemonDetails__Abilities--title {
          display: flex;
          align-items: flex-start;
          font-weight: 600;
          margin-bottom: 0.5em;
        }

        .PokemonDetails__AbilitiesContainer {
          display: flex;
          justify-content: space-evenly;

          .PokemonDetails__Ability {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
