.PokemonList {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  padding-bottom: 5em;

  .PokemonList__Search {
    display: flex;
    align-items: center;
    margin: 2em 0;
    width: 100%;

    span {
      color: white;
      font-size: 24px;
      font-weight: 600;
      margin-right: 1em;
    }

    input {
      border-radius: 2%;
      padding: 0.5em 0.5em;
      margin-right: 1em;
    }
  }

  .PokemonList__Error {
    color: red;
    font-weight: 600;
  }

  .PokemonList__item {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 1em;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 5px black;
    }
  }

  .PokemonList__pagination {
    display: flex;
    width: 100%;
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-top: 1em;

    .PokemonList__previousPage {
      margin-left: 1em;

      &.clickable {
        cursor: pointer;
      }
    }

    .PokemonList__nextPage {
      margin-left: auto;
      margin-right: 1em;

      &.clickable {
        cursor: pointer;
      }
    }
  }
}
